<%= form_for(book) do |f| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :book_name %>
    <%= f.text_field :book_name %>
  </div>

  <div class="field">
    <%= f.label :book_author %>
    <%= f.text_field :book_author %>
  </div>


    <div class="field">
     <%= f.label :allowed_role_id %>
    <%= f.collection_select :allowed_role_id, Role.all, :id, :role_name %>
    </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
