<p id="notice"><%= notice %></p>

<h1>Books</h1>

<%= form_tag(books_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Book" %>
    <%= submit_tag "Search", :name => nil %>
<% end %>
</br>

<%= form_for :book,url: "/books/submit",method: "post" do %>
<table border=1 cellpadding=0 cellspacing=0>
  <thead>
    <tr>
	<% if !Person.find(current_person.id).librarian? %>
      <th>Select</th>
	  <% end %>
      <th>Book name</th>
      <th>Book author</th>
      <th>Allowed role</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
	  <% if !Person.find(current_person.id).librarian? %>
        <td><%= check_box_tag 'book_name[]', book.id %></td>
		<% end %>
        <td><%= book.book_name %></td>
        <td><%= book.book_author %></td>
        <td><%= Role.find(book.allowed_role_id).role_name %></td>
        <td><%= link_to 'Show', book %></td>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if !Person.find(current_person.id).librarian? %>
<%= submit_tag "Borrow Books", :name => nil %>
<% end %>
<%= link_to 'New Book', new_book_path %>
<% end %>