<table border=1 cellpadding=0 cellspacing=0>
  <thead>
    <tr>
      <th>Book name</th>
      <th>Book author</th>
	  <th>Issued To</th>
      <th>Allowed role</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.book_name %></td>
        <td><%= book.book_author %></td>
		<td><%= Person.find(book.person_id).email %></td>
        <td><%= Role.find(book.allowed_role_id).role_name %></td>
        <td><%= link_to 'Show', book %></td>
          <td><%= link_to "Release", books_release_path(:book_id => book.id), data: { confirm: 'Are you sure?' }%></td>
      </tr>
    <% end %>
  </tbody>
</table>