<p id="notice"><%= notice %></p>

<p>
  <strong>Book name:</strong>
  <%= @book.book_name %>
</p>

<p>
  <strong>Book author:</strong>
  <%= @book.book_author %>
</p>

<p>
  <strong>Widrawal status:</strong>
  <%= @book.widrawal_status %>
</p>

<p>
  <strong>Allowed role:</strong>
  <%= @book.allowed_role_id %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
