<p id="notice1"><%= notice %></p>

<h1>Books</h1>

<table>
  <thead>
    <tr>
      <th>         </th>
      <th>Book name</th>
      <th>Book author</th>
      <th>Widrawal status</th>
      <th>Allowed role</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
    if <%= book.widrawal_status %> <=> true
      <tr>
        <td><%= check_box_tag :book_name,:value =>book.book_name %></td>
        <td><%= book.book_author %></td>
        <td><%= book.widrawal_status %></td>
        <td><%= book.allowed_role_id %></td>
      </tr>
    end
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Release', books_release_path %>
<%= link_to 'All Books', books_path %>
