<!DOCTYPE html>
<html>
  <head>
    <title>Lms</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if person_signed_in? %>
      Signed in as <%= current_person.email %>. Not you?
      <%= link_to "Edit profile", edit_person_registration_path %>
      <%= link_to "Sign out", destroy_person_session_path, :method => :delete %>
      <br/>
      <%= link_to "Issued Books", books_issuedbook_path %>
      <%= link_to "User list", people_path %>
      <%= link_to "Add Book", new_book_path %>
    <% else %>
      <%= link_to "Sign up", new_person_registration_path %> or <%= link_to "sign in", new_person_session_path %>
    <% end %>

    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, id: "flash_#{name}" %>
    <% end %>
    <%= yield %>
  </body>
</html>
